.listStylingDiv{
    list-style-type: none;
    margin-bottom: 1%;
    text-align: center;
    padding: 5px 10px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;

}

.logLatLinkStyling{
    padding-right: 2%;
}

.deleteButtonStyling{
   margin-left: 2%;
   border-radius: 5px;
}

.recordedHikesHeading{
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
}